### Exploratory Data Analysis Part I: Find problems in the data.

In [14]:
import pandas as pd
from dotenv import load_dotenv
import os

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Establish a **connection to the data base**

Before running the following cell:

Create a text file called .env (not directly in this folder, but e.g. in 'private') containing

PGSQL_USER=*USERNAME* \
PGSQL_PASSWORD=*PASSWORD*

In [15]:
load_dotenv()
username = os.getenv('PGSQL_USER')
password = os.getenv('PGSQL_PASSWORD')
hostname = 'gip.itc.utwente.nl'
portname = '5434'
databasename = 'c211'

%sql postgresql://{username}:{password}@{hostname}:{portname}/{databasename}

example SQL query to access a view

In [16]:
%%sql
select obs.block
from vw_observation2017 as obs
limit 3

 * postgresql://s2905965:***@gip.itc.utwente.nl:5434/c211
3 rows affected.

[(23108,), (14056,), (15713,)]

save data from the database to a pandas DataFrame

In [17]:
data = %sql select obs.block, obs.latit, obs.longit, obs.observer, obs.obsdate, obs.obstime \
from vw_observation2017 as obs
data_obs = data.DataFrame()

 * postgresql://s2905965:***@gip.itc.utwente.nl:5434/c211
2530161 rows affected.

In [19]:
data_obs

         block  latit  longit observer     obsdate obstime
0        23108    499     170    18758  2017-05-06   12:38
1        14056    454     133    18758  2017-03-24   14:27
2        15713    490     140    18758  2017-03-30   10:57
3        15713    490     140    18758  2017-03-30   10:48
4        15713    490     140    18758  2017-03-30   11:10
...        ...    ...     ...      ...         ...     ...
2530156   3848    373      72    28090  2017-05-13    None
2530157   3848    373      72    28090  2017-05-13    None
2530158   3848    373      72    28090  2017-05-13    None
2530159  37713    582     233    20437  2017-01-29    None
2530160  11387    563     120    41004  2017-04-27    None

[2530161 rows x 6 columns]