# The Creation of Spatio-Temporal (Monthly) Observer Intensity

## SQL

In [2]:
import pandas as pd

%load_ext sql

Establish a connection to the data base before you run the following cell:
Create a text file called **.env** containing

> PGSQL_USER=USERNAME  \
> PGSQL_PASSWORD= PASSWORD 

**Note:** I (Cannur) created .env file with my credentials so you do not need to create it. You can run it directly.

In [3]:
from dotenv import load_dotenv
import os

load_dotenv()
username = os.getenv('PGSQL_USER')
password = os.getenv('PGSQL_PASSWORD')
hostname = 'gip.itc.utwente.nl'
portname = '5434'
databasename = 'c211'

%sql postgresql://{username}:{password}@{hostname}:{portname}/{databasename}

Now, we can find the database has how many rows.

In [4]:
%sql \
select count(*) as Row_Counts\
from vw_observation2017

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
1 rows affected.

[(2530161,)]

Now, we can see the 3 rows from our table.

In [5]:
%%sql 
Select * from vw_observation2017
Limit 3

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
3 rows affected.

[(1476730, '51', '24360', datetime.date(2017, 6, 26), 42847, 266, 561, '07:38', 36637651),
 (1496175, '362', '24360', datetime.date(2017, 2, 13), 42322, 261, 565, '08:09', 36637652),
 (1476759, '354', '24360', datetime.date(2017, 3, 31), 42845, 266, 559, '21:05', 36637653)]

We can check the null cells.

In [6]:
%%sql 
select count(*) 
from vw_observation2017 
where id isnull or 
 species isnull or 
 observer isnull or
 obsdate isnull or 
 block isnull or 
 longit isnull or
 latit isnull or
 obstime isnull or
 idd isnull

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
1 rows affected.

[(450421,)]

We can check the just obstime column to see null cells. And all null cells in the table from obstime. In this case, we will not use the obstime as a variable for the observer intensity, so we do not want to delete this null value to not loss the observation data.

In [7]:
%%sql 
select count(*) 
from vw_observation2017 
where obstime isnull

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
1 rows affected.

[(450421,)]

In [7]:
%%sql 
select *
from vw_observation2017 
where obstime isnull
Limit 5

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
5 rows affected.

[(3689241, '9', '27328', datetime.date(2017, 6, 8), 6087, 91, 464, None, 36606237),
 (3697762, '9', '27328', datetime.date(2017, 6, 18), 5973, 90, 472, None, 36606410),
 (3689260, '165', '27328', datetime.date(2017, 6, 29), 6087, 91, 464, None, 36606766),
 (3689116, '9', '27328', datetime.date(2017, 3, 9), 6087, 91, 464, None, 36606858),
 (2776302, '614', '34326', datetime.date(2017, 5, 7), 16152, 142, 453, None, 36640538)]

We can see the 3 rows for the other tables.

### New Tables

In this part, we will not use the factors. Because all factors we will examine daily. Spatial factors will be same for daily and monthly. Temporal factors e.g precipitation and temperature can be so different day by day so to examine them daily will be better. In this case, we will focus just the species population. Maybe it can give us some idea about how their population changes monthly.

#### 1. Observer intensity and Species Population

Now we create new table for observer intensity and to define species population from *"vw_observation2017"*. The observer intensity is calculated as observer count in per block and per month.

In [4]:
%%sql 
CREATE TABLE monthly_1 
AS SELECT obsdate, block, Count (distinct observer) observer_intensity_monthly, Count (species) species_population
FROM observation_netherlands_new 
Group by obsdate, block

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
546185 rows affected.

[]

In [5]:
%%sql 
CREATE TABLE monthly_2 
AS SELECT monthly_1.*, days_new.dom
FROM monthly_1 LEFT JOIN days_new ON monthly_1.obsdate = days_new.odate

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
546185 rows affected.

[]

In [6]:
%%sql 
CREATE TABLE observer_intensity_monthly 
AS SELECT dom, block, SUM (observer_intensity_monthly) observer_intensity_monthly, SUM (species_population) species_population
FROM monthly_2
Group by dom, block

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
137665 rows affected.

[]

In [7]:
%%sql 
Select *
From observer_intensity_monthly
Limit 4

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
4 rows affected.

[('April', 62, Decimal('1'), Decimal('1')),
 ('April', 63, Decimal('6'), Decimal('19')),
 ('April', 64, Decimal('4'), Decimal('7')),
 ('April', 65, Decimal('1'), Decimal('2'))]