# The Creation of Spatio-Temporal (Weekly) Observer Intensity

## SQL

In [1]:
import pandas as pd

%load_ext sql

Establish a connection to the data base before you run the following cell:
Create a text file called **.env** containing

> PGSQL_USER=USERNAME  \
> PGSQL_PASSWORD= PASSWORD 

**Note:** I (Cannur) created .env file with my credentials so you do not need to create it. You can run it directly.

In [2]:
from dotenv import load_dotenv
import os

load_dotenv()
username = os.getenv('PGSQL_USER')
password = os.getenv('PGSQL_PASSWORD')
hostname = 'gip.itc.utwente.nl'
portname = '5434'
databasename = 'c211'

%sql postgresql://{username}:{password}@{hostname}:{portname}/{databasename}

Now, we can see the 3 rows from our table.

In [3]:
%%sql 
Select * from vw_observation2017new
Limit 3

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
3 rows affected.

[(2253771, '740', '36865', datetime.date(2017, 3, 27), 26798, 185, 371, None, 35489518),
 (2253984, '489', '36865', datetime.date(2017, 5, 8), 26798, 185, 371, None, 35489519),
 (2386565, '17', '36865', datetime.date(2017, 1, 28), 23988, 174, 366, None, 35489520)]

### New Tables

#### 1. Weekly Precipitation

New precipitation table with average precipitation for per week.

In [4]:
%%sql 
CREATE Table precipitation_weekly
AS With cte As (SELECT precipitation.*, days_new.mdate, days_new.woy
FROM precipitation LEFT JOIN days_new ON precipitation.dtime = days_new.mdate)
Select block, woy, avg(precip) average_precip From cte Group by block, woy

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
1005650 rows affected.

[]

#### 2. Weekly Temperature

New temperature table with average temperature for per week.

In [5]:
%%sql 
CREATE Table temperature_weekly
AS With cte As (SELECT temperature.*, days_new.mdate, days_new.woy
FROM temperature LEFT JOIN days_new ON temperature.dtime = days_new.mdate)
Select block, woy, avg(temper) average_temper From cte Group by block, woy

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
1083925 rows affected.

[]

#### 3. Observer intensity

Now we create new table for observer intensity. The observer intensity is calculated as observer count in per block and per week.

In [6]:
%%sql 
CREATE TABLE observer_intensity_weekly 
AS With cte As (Select a1.obsdate, a1.block, a1.observer, days_new.mdate, days_new.woy, precipitation_weekly.average_precip, temperature_weekly.average_temper 
                FROM vw_observation2017new a1
                LEFT JOIN days_new ON a1.obsdate = days_new.odate
                LEFT JOIN precipitation_weekly ON days_new.woy = precipitation_weekly.woy and a1.block = precipitation_weekly.block
                LEFT JOIN temperature_weekly ON days_new.woy = temperature_weekly.woy and a1.block = temperature_weekly.block)
SELECT block, woy, Count (distinct observer) observer_intensity, avg(average_precip) precipitation, avg(average_temper) temperature
FROM cte Group by cte.block, cte.woy

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
284329 rows affected.

[]

In [7]:
%%sql 
Select *
From observer_intensity_weekly
Limit 4

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
4 rows affected.

[(60, 5, 1, 0.655393233788865, 3.62616665874209),
 (61, 10, 1, 1.2142333473478, 12.977226802281),
 (61, 22, 1, 1.84947513682502, 20.7200941358294),
 (62, 5, 1, 0.63996161254389, 3.59056848287582)]

Merge the table with other variables.

In [9]:
%%sql
CREATE TABLE merged_weekly AS 
SELECT week.*,
block_demography.pop001, block_demography.pop009, block_demography.pop025, block_demography.pop049, block_demography.pop081, block_demography.pop121, block_demography.pop169, block_demography.pop225,
roadlength_new.municipality, roadlength_new.province, roadlength_new.water_authority, roadlength_new.rijk, roadlength_new.other_maintainers, roadlength_new.roadlength,
landuse_new.built_up, landuse_new.dry_natural_terrain, landuse_new.greenhouse_horticulture, landuse_new.railway, landuse_new.nature_reserves, landuse_new.company_site, landuse_new.wet_natural_terrain, landuse_new.airport, landuse_new.forest, landuse_new.coastal_water, landuse_new.semi_built, landuse_new.agriculture, landuse_new.recreation, landuse_new.water, landuse_new.highway      
FROM observer_intensity_weekly week 
LEFT JOIN block_demography ON week.block = block_demography.block
LEFT JOIN roadlength_new ON week.block = roadlength_new.block
LEFT JOIN landuse_new ON week.block = landuse_new.block

 * postgresql://s2495929:***@gip.itc.utwente.nl:5434/c211
284329 rows affected.

[]